body{
    background-color: lightblue;
    cursor:pointer;
}

div {
    background-color: pink;
    text-align: center;
    border:1px  solid black ;
}
.pad{
    padding: 10px;  
}
.para{
    min-height: 500px;
    background-color: lightgrey;
    text-align: left;
    color: rgb(83, 125, 160);
    font-weight: bold;
}
.paras{
    min-height: 300px;
    background-color: lightcyan;
    text-align: left;
    color: rgb(83, 125, 160);
    font-weight: bold;
}
.layout{
    background-color: lightsalmon;
    padding: 20px;
}
.blockquote{
    color: purple;
}
